# Load the shared object
useDynLib(GDSAnnotator,
    SEQ_Find_Position
)

# Import all packages listed as Imports or Depends
import(methods)
import(gdsfmt)
import(SeqArray)
importFrom(utils, read.table, read.csv, flush.console, write.table, str, tail,
    type.convert)
importFrom(readr, read_csv)
importFrom(S4Vectors, nrun, DataFrame, Rle)
importFrom(IRanges, IRanges)
importFrom(GenomicRanges, GRanges, GRangesList)


# Export all names
exportPattern("^seq*")
